<h1>My Jobs</h1>
<div class="container">
	<% @user_jobs.each do |user_job| %>
		<div class="row">
			<div class="col-md-6">
				<%= user_job.job_type %>
			</div>
			<div class="col-md-6">
				Agent Type: <%= user_job.agent_type %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				Date of shipment: <%= user_job.date_of_shipment %>
			</div>
			<div class="col-md-6">
				Location of shipment: <%= user_job.location_of_shipment %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				Place being shipped to: <%= user_job.place_being_shipped_to %>
			</div>
			<div class="col-md-6">
				Border expected to cross: <%= user_job.border_expected_to_cross %>
			</div>
		</div>

		<hr>
	<% end %>
	
</div>