<%= form_tag  authenticated_root_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag :query, params[:query], placeholder: 'Search for a broker', class: 'form-control' %>
  <%= submit_tag "Search", name: nil, class: 'btn btn-danger' %>
<% end %>

<ul>
<% if @brokers.present? %>
  <% @brokers.each do |broker| %>
    <li><%= "#{broker.first_name} #{broker.last_name}" %></li>
    <li><%= broker.email %></li>
  <% end %>
<% end %>
</ul>


<ul>
<% if @forward_freights.present? %>
  <% @forward_freights.each do |forward_freight| %>
    <li><%= "#{forward_freight.first_name} #{forward_freight.last_name}" %></li>
    <li><%= forward_freight.email %></li>
  <% end %>
<% end %>
</ul>