<%= form_tag  authenticated_root_path, method: :get do %>
  <%= text_field_tag :q, params[:q], placeholder: 'Search for a broker' %>
  <%= submit_tag "Search", name:  nil %>
<% end %>

<% if @brokers.present? %>
  <% @brokers.each do |broker| %>
    <%= broker.first_name %> <%= broker.last_name %>
    <%= broker.email %>
  <% end %>
<% else %>
  <p>Bad Request !!! </p>
<% end %>

