
<div class="row profile">
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default panelbg1">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <%= image_tag @user.avatar, class: 'prof-pic' %>
        </div>
        <!-- END SIDEBAR USERPIC -->

        <h3 class="text-center"><%= @user.name %></h3>

        <div id="actions" class="user-actions">
          <%= render partial: 'relationships/actions', locals: {user: @user} %>          
        </div>

        <!-- SIDEBAR BUTTONS -->
        <div class="user-actions">
          <%= link_to 'Message', '#', class: 'btn btn-danger btn-round' %>
        </div>        
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <ul class="nav nav-user-actions text-center">
          <li class="active">
            <a href="#">
            <i class="glyphicon glyphicon-home"></i>
            Overview </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-star"></i>
            Reviews </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-saved"></i>
            Saved </a>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
    </div> <!-- panel end -->
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="panel panel-default panelbg2">
      <div class="panel-body">
        <%= simple_format @user.description %>

        <i class="fa fa-tags" aria-hidden="true"></i> 
        <span>
          <% @user.tag_list.each do |tag| %>
              <span class="label label-default"><%= tag %></span>
          <% end %>
        </span>
      </div><!-- panel-body -->
    </div><!-- panel -->
  </div>
</div>  

