  <div class="media">
    <% message = receipt.message %>
    <div class="media-left">
      <b><%= message.sender.first_name %> <%= message.sender.email %> <%= message.sender.class.name %></b>
    </div>

    <div class="media-body">
      <%= message.body %><div class="hide-default"><%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></div>
    </div>
  </div>
