<p>Chatting with
  <%= render 'conversations/participants', conversation: @conversation %>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %> id <%= @conversation.id %>
<br>
<% current_user.mailbox.inbox.each do |conversation| %>
  <%= conversation.id %>
<% end %>
  </div>

  <div class="panel-body">
    <div class="messages" id="messages">

        <%= render partial: 'message', locals: {conversation: @conversation} %>

    </div>
  </div>
</div>

<%= form_tag reply_conversation_path(@conversation), remote: true, id: "new_message_box", method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', id: 'new_message_content', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Message", class: 'btn btn-primary' %>
<% end %>
