<center><h1>Jobs</h1></center>
<div class="all-jobs">
<% @jobs.each do |job| %>
	<div class="">
		<h2>verifry the classified docs</h2>
	</div>
	<div class="flashing-topbar">
		<span class="fa fa-briefcase " aria-hidden="true" title="job_type"><span class="data"><%= job.job_type %>hourly</span></span>
		<span class="fa fa-gear " aria-hidden="true" title="skill required"><span class="data"><%= job.job_type %>expert</span></span>
		<span class="fa fa-clock-o " aria-hidden="true" title="time required"><span class="data">1-3 months</span></span>
		<span class="fa fa-flag " aria-hidden="true" title="job required"><span class="data"><%= job.created_at %> ago</span></span>
	</div>
	<div class="">
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="">
		<span class="fa fa-check-circle-o " aria-hidden="true" title="job_type"><span class="data">verifed businessman</span></span>
		<span class="fa fa-star " aria-hidden="true" title="skill required"></span>
		<span class="fa fa-star " aria-hidden="true" title="skill required"></span>
		<span class="fa fa-star " aria-hidden="true" title="skill required"></span>
		<span class="fa fa-star " aria-hidden="true" title="skill required"></span>
		<span class="fa fa-star " aria-hidden="true" title="skill required"></span>
		<span class="data"></span>
		<span class="fa fa-usd " aria-hidden="true" title="payment"><span class="data">500</span>	</span>
		<span class="fa fa-globe " aria-hidden="true" title="border_expected_to_cross"><span class="data"><%= job.border_expected_to_cross %> japan hongkong nepal</span>	</span>
	</div>
<hr>
<span> Tag: <%= job.tag_list %></span>
<% end %>
</div>

<style>
  .fa{
		font-size: 20px;
		padding-top: 20px;
	}
	.data{
		padding-left: 10px;
		font-size: 18px;
		padding-right: 20px;
	}
	.data-heading{
		background-color: white;
		text-align: center;
	}
	.all-jobs{
		background-color: white;
		padding:10px 20px 10px 20px;
	}
	hr{
		border-width: thin;
		border-color: black;
		width: 70%;
	}
	.flashing-topbar{
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>
