<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" id="broker_sign_up_form">
    <%= f.input :first_name,label: "First Name", required: true,autofocus: true %>
    <%= f.input :last_name,label: "Last Name", required: true %>
    <%= f.input :email, required: true, input_html: { id: "sign_up_broker_email" } %>
    <%= f.input :password,label: "Password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), 
        input_html: { id: "sign_up_broker_password" } %>
    <%= f.input :password_confirmation,label: "Password Confirmation", required: true, 
        input_html: { id: "sign_up_broker_password_confirmation" } %>
    <%= f.input :description, as: :text, required: false %>
    <%= f.input :phone, required: true %>
    <%= f.input :firm_name %>
    <%= f.input :address_line_1,label: "Address Line 1", required: true %>
    <%= f.input :address_line_2, required: false %>
    <%= f.input :address_line_3, required: false %>
    <%= f.input :city, required: true %>
    <%= f.input :zip_postal_code, label: "Zip/Postal/Code", required: true %>
    <%= f.input :state_province_county,label: "State/Province/County", required: true %>
    <%= f.input :country,label: "Country", required: true %>
    <%= f.input :specialty, required:false %>
    <%= f.input :past_experience,label: "Past Experience", required: false %>
    <%= f.input :service_rates,label: "Service Rate", required: true %>
    <%= f.input :avatar %>
    <%= f.input :broker_number,label: "Broker Number", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", id: "sign_up_button_broker" %>
  </div>
<% end %>

<%= render "brokers/shared/links" %>

<script type="text/javascript">
    $(document).ready(function(){
      $('#broker_zip_postal_code').mask('AAA AAA');
  });
</script>