<div class='panel panel-default panel-user'>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= image_tag forward_freight.avatar.url, class: 'prof-pic' %>
      </div><!-- column -->  

      <div class="col-xs-12 col-md-8">              
        <h3><%= forward_freight.name %></h3>
        <p>
          <%= simple_format forward_freight.description %>
        </p>  

        <i class="fa fa-tags" aria-hidden="true"></i> 
        <span>
            <% forward_freight.tag_list.each do |tag| %>
              <span class="label label-default"><%= link_to tag, tag_path(tag) %></span>
            <% end %>
          </span>

      </div>
      <%= link_to 'More info', forward_freight_path(forward_freight.id), class: 'btn btn-info pull-right btn-user-info' %>
    </div><!-- row -->          
  </div><!-- panel-body -->
</div><!-- panel -->
