<div class='panel panel-default panel-user'>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= image_tag broker.avatar.url, class: 'prof-pic' %>
      </div><!-- column -->  

      <div class="col-xs-12 col-md-8">              
        <h3><%= broker.name %></h3>
        <p>
          <%= simple_format broker.description %>
        </p>  

        <i class="fa fa-tags" aria-hidden="true"></i> 
          <span>
            <%= broker.tag_list %>
          </span>

      </div>
      <%= link_to 'More info', broker_path(broker.id), class: 'btn btn-info pull-right btn-user-info' %>
    </div><!-- row -->          
  </div><!-- panel-body -->
</div><!-- panel -->