<%= simple_form_for :search, url: brokers_search_path, method: :get do |f| %>
  <%= f.input :with_tags, required: true, label: false,  collection: ActsAsTaggableOn::Tag.all.map(&:name), input_html: { class: 'chosen-select', multiple: true, data: {placeholder: "Click to Select Tags"} } %>
  <%= f.input :city, label: 'Search by City', label: false, placeholder: 'Search Broker by City' %>
  <%= f.submit 'Search', class: 'btn btn-primary' %>
<% end %>


<h1>Search Results</h1>
<% if @brokers.present? %>
  <%= render partial: 'brokers/broker', collection: @brokers %>
<% else %>
  <h5> No Broker Found!</h5>
<% end %>
