
<div class="row profile">
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default panelbg1">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <div class="picture">
            <%= image_tag @user.avatar, class: 'prof-pic' %>
          </div>
        </div>
        <!-- END SIDEBAR USERPIC -->

        <h3 class="text-center"><%= @user.name %></h3>

        <div id="actions" class="user-actions">
          <%= render partial: 'relationships/actions', locals: {user: @user} %>
        </div>

        <!-- SIDEBAR BUTTONS -->
        <div class="user-actions">
          <%= link_to 'Message', '#', class: 'btn btn-danger btn-round' %>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <h1>hello</h1>
        <h1>hello</h1>

        <ul class="nav nav-user-actions text-center">

          <li class="active">
            <a href="#">
            <i class="glyphicon glyphicon-home"></i>
            Overview </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-star"></i>
            Reviews </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-saved"></i>
            Saved </a>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
    </div> <!-- panel end -->
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="panel panel-default panelbg2">
      <div class="panel-body">
<<<<<<< HEAD
        <%= simple_format @user.description %>

        <i class="fa fa-tags" aria-hidden="true"></i>
=======
        <div class="col-xs-12">
          <h3>Tags</h3>
        </div>
        <div class="col-xs-12">
>>>>>>> fdbeabbcb03297e88d28cdc4d86292b98f3326f3
          <% @user.tag_list.each do |tag| %>
              <span class="label label-default"><%= tag %></span>
          <% end %>
        </div>
        <div class="col-xs-12">
          <h3>Description</h3>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-12">
            <span class="description-text"><%= simple_format @user.description %><span>
          </div>
        </div>
        <div class="col-xs-12">
          <h3>Contact Info</h3>
        </div>
        <% if @user.show_email or @user.show_phone_number %>
          <% if @user.show_email %>
            <div class="col-xs-12">
              <div class="col-xs-3">
                <h4>Email</h4>
              </div>
              <div class="col-xs-9">
                <h4><%= simple_format @user.email %></h4>
              </div>
            </div>
          <% end %>

          <% if @user.show_phone_number %>
            <div class="col-xs-12">
              <div class="col-xs-3">
                <h4>Phone No</h4>
              </div>
              <div class="col-xs-9">
                <h4><%= simple_format @user.phone %></h4>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-xs-12">
            <h4>No content to show.</h4>
          </div>
        <% end %>

        <div class="col-xs-12">
          <h3>Address</h3>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-3">
            <h4>County</h4>
          </div>
          <div class="col-xs-9">
            <h4><%= simple_format @user.country %></h4>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-3">
            <h4>State</h4>
          </div>
          <div class="col-xs-9">
            <h4><%= simple_format @user.state_province_county %></h4>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-3">
            <h4>City</h4>
          </div>
          <div class="col-xs-9">
            <h4><%= simple_format @user.city %></h4>
          </div>
        </div>
      </div><!-- panel-body -->
    </div><!-- panel -->
  </div>
</div>
