<<<<<<< HEAD
<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-md-3">
        <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-xs-12 col-md-9 color-white dashboard-content rendered-content">
      <h1>Add a New Product</h1>

      <%= simple_form_for @product do |f| %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :title, label: false, placeholder: 'Title' %>
          </div>

          <div class="col-xs-12 col-md-6">
            <%= f.input :price, label: false, placeholder: 'Price' %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :grams, label: false, placeholder: 'Grams' %>
          </div>

          <div class="col-xs-12 col-md-6">
            <%= f.input :height, label: false, placeholder: 'Height' %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :width, label: false, placeholder: 'Width' %>
          </div>

          <div class="col-xs-12 col-md-6">
            <%= f.input :compare_at_price, label: false, placeholder: 'Compare At Price' %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :origin_of_manufacture, label: false, placeholder: 'Origin of Manufacture (Location)' %>
          </div>

          <div class="col-xs-12 col-md-6">
            <%= f.input :materials_used, label: false, placeholder: 'Materials Used' %>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :date_of_manufacture, label: false, as: :string, placeholder: 'Date of Manufacture', class: "datepicker" %>
          </div>

          <div class="col-xs-12 col-md-6">
            <%= f.input :product_code, label: false, placeholder: "Product ID" %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= f.input :taxable, as: :boolean %>
          </div>

          <div class="col-xs-12 col-md-6">
            <%= f.input :available, as: :boolean %>
          </div>
        </div>

        <%= f.input :featured_image %>
        <%= f.button :submit, class: 'btn btn-primary pull-right' %>
      <% end %>
  </div>
  </div>



=======
<section class="ml-60">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-xs-12 col-md-3">
                <%= render 'layouts/sidebar' %>
            </div>

       		  <div class="col-xs-12 col-md-8 col-md-offset-1 color-white dashboard-content rendered-content">
      				<h1>Add a New Product</h1>

      				<%= simple_form_for @product do |f| %>
      					<div class="row">
      						<div class="col-xs-12 col-md-6">
      							<%= f.input :title, label: false, placeholder: 'Title' %>
      						</div>

      						<div class="col-xs-12 col-md-6">
      							<%= f.input :price, label: false, placeholder: 'Price' %>
      						</div>
      					</div>

      					<div class="row">
      						<div class="col-xs-12 col-md-6">
      							<%= f.input :grams, label: false, placeholder: 'Grams' %>
      						</div>

      						<div class="col-xs-12 col-md-6">
      							<%= f.input :height, label: false, placeholder: 'Height' %>
      						</div>
      					</div>

      					<div class="row">
      						<div class="col-xs-12 col-md-6">
      							<%= f.input :width, label: false, placeholder: 'Width' %>
      						</div>

      						<div class="col-xs-12 col-md-6">
      							<%= f.input :compare_at_price, label: false, placeholder: 'Compare At Price' %>
      						</div>
      					</div>

      					<div class="row">
      						<div class="col-xs-12 col-md-6">
      							<%= f.input :origin_of_manufacture, label: false, placeholder: 'Origin of Manufacture (Location)' %>
      						</div>

      						<div class="col-xs-12 col-md-6">
      							<%= f.input :materials_used, label: false, placeholder: 'Materials Used' %>
      						</div>
      					</div>


      					<div class="row">
      						<div class="col-xs-12 col-md-6">
      							<%= f.input :date_of_manufacture, label: false, as: :string, placeholder: 'Date of Manufacture', class: "datepicker" %>
      						</div>

                  <div class="col-xs-12 col-md-6">
                    <%= f.input :product_code, label: false, placeholder: "Product ID" %>
                  </div>
      					</div>

      					<div class="row">
      						<div class="col-xs-12 col-md-6">
      							<%= f.input :taxable, as: :boolean %>
      						</div>

      						<div class="col-xs-12 col-md-6">
      							<%= f.input :available, as: :boolean %>
      						</div>
      					</div>

      					<%= f.input :featured_image %>
      					<%= f.button :submit, class: 'btn btn-primary pull-right' %>
      				<% end %>
    			</div><!-- column -->
      </div>
>>>>>>> fdbeabbcb03297e88d28cdc4d86292b98f3326f3
    </div>


<script type="text/javascript">
	$(document).ready(function(){
	$('#product_date_of_manufacture').datepicker({
		dateFormat: 'yy-mm-dd'
	});
});
</script>
