<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<h1>Add a New Product</h1>		

		<%= simple_form_for @product do |f| %>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<%= f.input :title, label: false, placeholder: 'Title' %>				
				</div>

				<div class="col-xs-12 col-md-6">
					<%= f.input :price, label: false, placeholder: 'Price' %>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<%= f.input :grams, label: false, placeholder: 'Grams' %>
				</div>
			
				<div class="col-xs-12 col-md-6">
					<%= f.input :height, label: false, placeholder: 'Height' %>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<%= f.input :width, label: false, placeholder: 'Width' %>
				</div>
	
				<div class="col-xs-12 col-md-6">
					<%= f.input :compare_at_price, label: false, placeholder: 'Compare At Price' %>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<%= f.input :origin_of_manufacture, placeholder: 'Origin of Manufacture (Location)' %>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<%= f.input :materials_used, placeholder: 'Materials Used' %>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-24 col-md-12">
					<%= f.input :date_of_manufacture, as: :string,  class: "datepicker" %>
				</div>
				
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<%= f.input :product_code, label: false, placeholder: "Product ID" %>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<%= f.input :taxable, as: :boolean %>			
				</div>

				<div class="col-xs-12 col-md-6">
					<%= f.input :available, as: :boolean %>
				</div>
			</div>

			<%= f.input :featured_image %>
			<%= f.button :submit, class: 'btn btn-primary pull-right' %>
		<% end %>
	</div>
</div> 