<%= simple_form_for @shipment do |f| %>
	<div id="products">
		<%= f.simple_fields_for :shipment_products do |shipment_product| %>
			<%= render 'shipment_product_fields', f: shipment_product %>
		<% end %>
	</div>
		<div class="links">	
			<%= link_to_add_association 'Add Product', f, :shipment_products, class: 'btn btn-sm btn-success' %>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<%= f.input :save_for_later_use %>
			</div>
			<div class="col-xs-12 col-md-6">
				<%= f.button :submit, "Next", class: 'btn-primary pull-right' %> 
			</div>
		</div>
<% end %>	
