<h1>Shipment ID: <%= @shipment.id %></h1>

<table class="table table-responsive">
	<tr>
		<th class="col-xs-2"></th>
		<th class="col-xs-8">Title</th>
		<th class="col-xs-2">Quantity</th>
	</tr>

	<% @shipment.shipment_products.each do |shipment_product| %>
		<tr>
			<td><%= image_tag shipment_product.product.featured_image.url, class: 'img-responsive' if shipment_product.product.featured_image.present? %></td>		
			<td><%= link_to shipment_product.product.title, shipment_product.product %></td>
			<td><%= shipment_product.quantity %></td>
		</tr>
	<% end %>
</table>

<% if @shipment.job.present? %>
	<h1>Jobs Related to this Shipment</h1>

	<table class="table table-responsive">
		<tr>
			<th class="col-xs-8">Title</th>
			<th class="col-xs-2">Price</th>
			<th>Date of Shipment</th>
			<th>Shipment Location</th>
		</tr>

		<tr>
			<td><%= @shipment.job.job_title %></td>
			<td><%= @shipment.job.price %></td>
			<td><%= @shipment.job.date_of_shipment %></td>
			<td><%= @shipment.job.location_of_shipment %></td>
		</tr>
	</table>
<% else %>
	
	<%= link_to 'Post a job for this shipment', new_shipment_job_path(@shipment), class: 'btn btn-success btn-create-job' %>

<% end %>
