<div class="container">
    <h1 class="logo">
        <a href="index.html"><span class="text">TWB</span></a>
    </h1><!--//logo-->
    <nav class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->
        </div><!--//navbar-header-->
        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if broker_signed_in? %>
                <%= current_broker.email %>
                <li class="nav-item"><%= link_to 'Edit Profile', edit_broker_registration_path %></li>
                <li class="nav-item"><%= link_to 'Log Out', destroy_broker_session_path, method: :delete %></li>
              <% elsif business_user_signed_in? %>
                <%= current_business_user.email %>
                <li class="nav-item"><%= link_to 'Edit Profile', edit_business_user_registration_path %></li>
                <li class="nav-item"><%= link_to 'Log Out', destroy_business_user_session_path, method: :delete %></li>
              <% else %>
                <li class="nav-item"><%= link_to 'Sign in as business user', new_business_user_session_path %></li>
                <li class="nav-item"><%= link_to 'Sign in as broker', new_broker_session_path %></li>
                <li class="nav-item"><%= link_to 'Sign in as forward_freights', new_forward_freight_session_path %></li>

              <% end %>
            </ul><!--//nav-->
        </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
</div><!--//container-->
