<!-- Signup Modal -->
<div class="modal modal-auth modal-signup" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="signupModalLabel" class="modal-title text-center">Which kind of user are you?</h4>
            </div>
            <div class="modal-body">
  
              <div class="row">
                <div class="col-xs-12 col-md-4">
                  <%= link_to new_business_user_registration_path do %>
                    <%= "<div class='signup-box'><h4>I'm a Small Business Owner</h4></div>".html_safe %>
                  <% end %>
                </div><!-- column -->

                <div class="col-xs-12 col-md-4">
                  <%= link_to new_broker_registration_path do %>
                    <%= "<div class='signup-box'><h4>I'm a Broker</h4></div>".html_safe %>
                  <% end %>
                </div><!-- column -->

                <div class="col-xs-12 col-md-4">
                  <%= link_to new_forward_freight_registration_path do %>
                    <%= "<div class='signup-box'><h4>I'm a Freight Forwarder</h4></div>".html_safe %>
                  <% end %>
                </div><!-- column -->
              </div><!-- row -->
                
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->