<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>

  </head>

  <body class="background-bg">
    <%= render 'layouts/nav' %>
    <div class="container container-authenticated">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
