<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <link rel="stylesheet" type="text/scss" href="scss/rating.scss">
    <script type="text/javascript" src="javascript/rating.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>

  <body class="bg-image">
    <%= render 'layouts/nav' %>
    <div class="container container-authenticated">
      <div class="row profile">
        <div class="col-xs-12 col-md-3">
          <div class="panel panel-default panelbg1">
            <div class="profile-sidebar">
              <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic">
                <div class="picture">
                  <%= image_tag @user.avatar_url(:thumb), class: 'prof-pic' %>
                
                  <a href="#" class="profile-pic-edit" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-cloud-upload"></i> Update
                  </a>
                </div>

                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <%= simple_form_for @user.original, url: "/" + @user.user_type_name + "s", method: :patch do |f| %>
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Upload Profile Picture</h4>
                        </div>
                        <div class="modal-body">
                          <%= f.input :avatar %>
                        </div>
                        <div class="modal-footer">
                          <%= f.button :submit , "Update" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <%= link_to "Past Clients", broker_Clients_path(current_user) %>
              <!-- END SIDEBAR USERPIC -->

              <br>
                  <div class= "rating_system">
                      <p class = "ratetext">Rate this user:</p> 
                        <div id = "r1" class = "rate_widget">
                          <div class="star_1 ratings_stars"></div>
                          <div class="star_2 ratings_stars"></div>
                          <div class="star_3 ratings_stars"></div>
                          <div class="star_4 ratings_stars"></div>
                          <div class="star_5 ratings_stars"></div>
                          <div class="total_votes">give rating to this user?</div>
                        </div>


                        <%= simple_form_for Rating.new, url: user_ratings_path(@user.id), method: :post do |f| %>
                          <%= f.input :total_rate, collection: 1..5 %>
                          <%= f.submit "Rate this user" %>
                        <% end %>

                        <script>
                            $('.ratings_stars').hover(
                                // Handles the mouseover
                                function() {
                                    $(this).prevAll().andSelf().addClass('ratings_over');
                                    $(this).nextAll().removeClass('ratings_vote'); 
                                },
                                // Handles the mouseout
                                function() {
                                    $(this).prevAll().andSelf().removeClass('ratings_over');
                                    set_votes($(this).parent());
                                }
                            );
                        </script>
                  </div>
                  
              <br>

              <div class="row">
                <div class="container-fluid">
                  <%= react_component 'EditName', { user: @user, user_type_name: @user.user_type_name } %>
                </div>
              </div>
              <!-- END SIDEBAR BUTTONS -->
              <!-- SIDEBAR MENU -->
              <ul class="nav nav-user-actions text-center">
                <li class="active">
                  <a href="#">
                  <i class="glyphicon glyphicon-home"></i>
                  Overview </a>
                </li>
                <li>
                  <a href="#">
                  <i class="glyphicon glyphicon-star"></i>
                  Reviews </a>
                </li>
                <li>
                  <%= link_to saved_users_path do %>
                    <i class="glyphicon glyphicon-saved"></i>
                    Saved </a>
                  <% end %>
                </li>
                <li>
                  <%= link_to @user.edit_link do %>
                    <%= "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe %>
                  <% end %>
                </li>
              </ul>
            </div>
            <!-- END MENU -->
          </div> <!-- panel end -->
        </div>
        <div class="col-md-8 col-md-offset-1 col-xs-12">
          <div class="profile-details-container">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
                        </div>
        </div><!-- column -->
      </div><!-- row-profile -->
    </div><!-- container -->

    <%= render 'layouts/footer' %>
  </body>
</html>
